    <!DOCTYPE html>
    <html>
    <head>
    <title>weixin robot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        
        .white{background-color: #fff; height:400px;}
        .top{padding-top:60px;}

    </style>
    </head>
    <body>
    <div class="container top">
        <div class="well">

            <div class="row-fluid">
<div class="span9 well white">
<!--Sidebar content-->
adsf
</div>

<div class="span3 well white">
<!--Body content-->
<img src="img/robot.jpg" alt="robot" class="img-circle">
</div>
<div class="clearfix"> </div>
<div class="left">
    <textarea id="message" rows="3" width="400"></textarea>
    <button class="btn btn-large btn-primary" type="button">send</button>


</div>
        </div>
        
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </body>
    </html>